<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserAuthSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52868/UserAuth.asmx" binding="basicHttpBinding"
                bindingConfiguration="UserAuthSoap" contract="ServiceReference1.UserAuthSoap"
                name="UserAuthSoap" />
        </client>
    </system.serviceModel>
</configuration>