<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserAuthSoap" />
                <binding name="UserAuthSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="UserAuthSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52868/UserAuth.asmx" binding="basicHttpBinding"
                bindingConfiguration="UserAuthSoap" contract="ServiceReference1.UserAuthSoap"
                name="UserAuthSoap" />
            <endpoint address="http://localhost:8090/webservices/userauth"
                binding="basicHttpBinding" bindingConfiguration="UserAuthSoap1"
                contract="ServiceReference2.UserAuthSoap" name="UserAuthSoap1" />
        </client>
    </system.serviceModel>
</configuration>